<ion-content padding>

<ion-slides #slides>

  <ion-slide>
    <div class="cont">
    <div class="labol">Enter Your Name</div>
    <ion-input type="text"  [(ngModel)]="Name" ></ion-input>
    </div>
    <button ion-button clear  *ngIf="Name" (click)="slideNext()" >Continue</button>
  </ion-slide>

  <ion-slide>
      <div class="cont">
      <div class="labol">Email</div>
      <ion-input type="text"  [(ngModel)]="Email" ></ion-input>
      </div>
      <button ion-button clear  *ngIf="Email" (click)="slideNext()" >Continue</button>
  </ion-slide>
  
  <ion-slide>
      <div class="cont">
      <div class="labol">College Name</div>
      <ion-list no-lines radio-group [(ngModel)]="College">
          <ion-item class="optns" >
              <ion-label item-end>MVSR</ion-label>
              <ion-radio item-start value="MVSR"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>TKR</ion-label>
              <ion-radio item-start value="TKR"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>Guru Nanak</ion-label>
              <ion-radio item-start value="GuruNanak"></ion-radio>
          </ion-item>
      </ion-list>
      </div>
      <button ion-button clear  *ngIf="College" (click)="slideNext()" >Continue</button>
  </ion-slide>

  <ion-slide>
      <div class="contB">
      <div class="labol">Branch</div>
      <ion-list no-lines radio-group [(ngModel)]="Branch">
          <ion-item class="optns" >
              <ion-label item-end>CSE</ion-label>
              <ion-radio item-start value="CSE"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>IT</ion-label>
              <ion-radio item-start value="IT"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>ECE</ion-label>
              <ion-radio item-start value="ECE"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>MECHANICAL</ion-label>
              <ion-radio item-start value="MECHANICAL"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>CIVIL</ion-label>
              <ion-radio item-start value="CIVIL"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>EEE</ion-label>
              <ion-radio item-start value="EEE"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>AUTOMOBILE</ion-label>
              <ion-radio item-start value="AUTOMOBILE"></ion-radio>
          </ion-item>
      </ion-list>
      </div>
      <button ion-button clear class="branchBtn"  *ngIf="Branch" (click)="slideNext()" >Continue</button>
  </ion-slide>

  <ion-slide>
      <div class="cont">
      <div class="labol">Programming Expertise</div>
      <ion-list no-lines radio-group [(ngModel)]="Plevel">
          <ion-item class="optns" >
              <ion-label item-end>I am a Beginner</ion-label>
              <ion-radio item-start value="I am a Beginner"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>I learned somthing at college</ion-label>
              <ion-radio item-start value="I learned somthing at college"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>I am a self taught Programmer</ion-label>
              <ion-radio item-start value="I am a self taught Programmer"></ion-radio>
          </ion-item>
          <ion-item class="optns" >
              <ion-label item-end>I am an Expert</ion-label>
              <ion-radio item-start value="I am an Expert"></ion-radio>
          </ion-item>
        </ion-list>
      </div>
      <button ion-button clear  *ngIf="Plevel" (click)="slideNext()" >Continue</button>
  </ion-slide>

  <ion-slide>
    <div class="cont">
    <div class="labol">Phone Number</div>
    <ion-input type="text"  [(ngModel)]="phoneNumber" ></ion-input>
    </div>
    <div id="recaptcha-container" class="rechat" ></div>
    <button ion-button clear  *ngIf="phoneNumber" (click)="signIn(phoneNumber)" id="sign-in-button" class="signinBtn" >Continue</button>
  </ion-slide>


</ion-slides>



</ion-content>
