<ion-content padding>
  <ion-header>
    <ion-navbar color="whiter" >
      <ion-title>
      <p class="name">Arqam.Tech </p>
      </ion-title>
    <ion-buttons end>
      <button color="primary" (click)="signOut()" clear ion-button >Exit</button>
    </ion-buttons>
    </ion-navbar>
    <div class="pBarCont">
    <div class="pBar" id="pBarId"></div>
    </div>
    <p class="perc">Question {{curIndex}} of {{allSlides}}</p>
  </ion-header>
  
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" >
    <ion-slide *ngFor="let question of questions">
  
            <h3 class="quesP">{{question.Question}}</h3>
            <h1 class="mainquesP">{{question.MainQues}}</h1>
          <ion-col  col-4 radio-group [(ngModel)]="ans" >
            <ion-item class="optns" >
                <ion-label item-end>{{question.Option1}}</ion-label>
                <ion-radio item-start [value]="question.Option1"></ion-radio>
            </ion-item>
            <ion-item class="optns" >
                <ion-label item-end>{{question.Option2}}</ion-label>
                <ion-radio item-start [value]="question.Option2"></ion-radio>
            </ion-item>
            <ion-item class="optns" >
                <ion-label item-end>{{question.Option3}}</ion-label>
                <ion-radio item-start [value]="question.Option3"></ion-radio>
            </ion-item>
            <ion-item class="optns" >
                <ion-label item-end>{{question.Option4}}</ion-label>
                <ion-radio item-start [value]="question.Option4"></ion-radio>
            </ion-item>
          </ion-col>
  
  
  
  
  
    </ion-slide>
  </ion-slides>
  
  
  
  
  <ion-footer>
    <ion-item>
    <button ion-button item-end large (click)="sendAns()" [disabled]="!ans" *ngIf="curIndex != questions.length"  >Continue</button>
    <button ion-button item-end large (click)="finish()" [disabled]="!ans"  *ngIf="curIndex == questions.length">Finish</button>
    </ion-item>
  </ion-footer>
  
  </ion-content>
  