page-home {

ion-grid{
    margin-left: 5% !important;

}
.slide-zoom{
    text-align: left !important;
}

.optns{
    border: 1px solid map-get($colors,primary) !important ;
    margin-bottom: 2% !important;
}
.pBar{
    background-color: map-get($colors,primary);
    height: 6px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
.pBarCont{
    background-color: #e8e9eb;
    height: 6px;
}
.name{
    display: inline-flex;
    margin-right: 5%;
    margin-left: 2%;
    color: map-get($colors,primary);
    padding-top: 0;
    padding-bottom: 0;
}
.perc{
    display: inline-flex;

}
}
