page-home {

ion-grid{
    margin-left: 5% !important;

}
.slide-zoom{
    text-align: left !important;
}

.optns{
    border: 1px solid map-get($colors,primary) !important ;
    margin-bottom: 2% !important;
}
.pBar{
    background-color: map-get($colors,primary);
    height: 2px;
}
}
