page-waiting-m {
    .rocket{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .time{
        color: white;
        }
        #demo{
        font-size: 300%;
        color: white;
        }
        
        .card{
            position: absolute;
            top: 20%;
            background-color: rgba(0, 0, 0, 0.8);
        
        }
        
}
