page-re-register {

    .rocket{
        position: absolute;
        top: 40%;
        width: 40%;
        -webkit-transform: translate(0, -60%);
        transform: translate(0, -50%);
    }

    .signForm{
        position: absolute;
        top: 0;
        left: 70%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, 0);
        width: 35%;
    }

    ion-input {
        border-bottom: 1px solid map-get($colors,primary);
        font-size: 130%;
    }

    ion-select{
        border-bottom: 1px solid map-get($colors,primary);
        font-size: 130%;
    }
    .mainTitle{
        position: absolute;
        top: 10%;
        left: 10%;
        color : #ffffff;
        font-size: 50px;
    }
    ion-label{
        font-size: 110% !important ;
        font-weight: 500;
    }
.news{
    margin-bottom: 30px;
}

.dan{
    color: map-get($colors,danger);
    
}
}
