page-sign-up-m {

    .rocket{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .cont{
        background-color: rgba(0, 0, 0, 0.55);
    }
    ion-input {
        border-bottom: 1px solid map-get($colors,whiter);
        font-size: 130%;
    }
    ion-label{
        color: #ffffff;
    }
    ion-select{
        border-bottom: 1px solid map-get($colors,whiter);
        font-size: 130%;
    }
    .card{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
    
    }
    .time{
        text-align: center;
        color: white;
        }

}
