page-login-m {

    ion-input {
        border-bottom: 1px solid map-get($colors,whiter);
        font-size: 130%;
    }
    .rocket{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 1;
    }
    .cont{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .card{
        position: absolute;
        top: 20%;
        background-color: rgba(0, 0, 0, 0.8);
    
    }
    .time{
        text-align: center;
        color: white;
        }
        ion-label{
            color: #ffffff;
        }
    
    .signinBtn{
        align-self: center;
    }
}
